# Coefficient Analysis

### Making Income table

In [ ]:
conn.execute("""
-- DROP TABLE IF EXISTS Income;
CREATE TABLE Income(
    sa2_code21 integer,
    sa2_name21 character varying COLLATE pg_catalog."default",
    earners integer,
    median_age integer,
    median_income integer,
    mean_income integer
);"""
)

In [ ]:
Income.to_sql('Income', conn, if_exists='append', index=False)  # Note: Change the csv file name to what you have

### Joining Income table to sigmoid Function table

In [ ]:
sql = """
CREATE TABLE "Assignment".Join_SFI AS
SELECT
    S.sa2_code21,
    S.sa2_name21,
    S.stop_count_zscore,
    S.school_area_1000_zscore,
    S.polling_count_zscore,
    S.total_businesses_zscore,
    S.total_median_zscore,
    S.school_enrollment_count_zscore,
    S.incidents_count_zscore,
    S.final_score_zsum,
    I.median_income
FROM
    Sigmoid S
JOIN
    Income I
ON
    S.sa2_name21 = I.sa2_name21;
"""
complete_query = query(conn, sql)

#### Don't forget to change the table names to what you have

### Finding Correlation Coefficient

In [ ]:
sql = """
SELECT
    corr(final_score_zsum, median_income) AS correlation_coefficient
FROM
    Join_SFI;
"""
complete_query = query(conn, sql)

## Cleaning Income csv file

In [2]:
import pandas as pd

Income = pd.read_csv("/Users/hamzadeen/Downloads/Income.csv")  #change the filepath to your one :)

Sigmoid = pd.read_csv("/Users/hamzadeen/Desktop/DATA 2001/Data/fullquery_sig.csv")  #change the filepath to your one :)

sa2_code21 = Sigmoid['sa2_code21'].unique()


Cleaned_Income = Income[Income['sa2_code21'].isin(sa2_code21)]

print(Cleaned_Income)

     sa2_code21                     sa2_name earners median_age median_income  \
28    102011028     Avoca Beach - Copacabana    4749         47         55065
29    102011029  Box Head - MacMasters Beach    6636         49         51927
30    102011030              Calga - Kulnura    2965         49         49168
31    102011031          Erina - Green Point    8010         48         51905
32    102011032        Gosford - Springfield   12051         41         54372
..          ...                          ...     ...        ...           ...
637   128021537          Royal National Park      14         37         36980
638   128021538        Sutherland - Kirrawee   13895         41         64940
639   128021607                     Engadine   10239         43         63695
640   128021608         Loftus - Yarrawarrah    4424         45         63087
641   128021609             Woronora Heights    2491         47         65460

    mean_income
28        77615
29        71509
30        63802
31        71992
32        65283
..          ...
637       47584
638       74867
639       72995
640       76440
641       82717

[368 rows x 6 columns]